/saved_models/SimCLR/lightning_logs/
/saved_models/ResNet2/lightning_logs/
/saved_models/LogisticRegression2/lightning_logs/
/nst/__pycache__/
/models/__pycache__/
/__pycache__/
/data/
/trained_models/
/nst/models/
/data/nst_balanced_new_backup_5350.hdf5
