python 3.9
conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia
matplotlib==3.7.0
seaborn
pytorch-lightning==1.8
mmcv
natsort
h5py
python-dotenv
lightning-bolts
subsetsum
tables
cchardet
chardet